streamlit
streamlit-option-menu
torch
torchvision
transformers
python-dotenv
pymupdf
easyocr
pdf2image
langchain
langchain-community
langchain-huggingface
langchain-groq
faiss-cpu
numpy
pillow
speechrecognition
gtts
pyaudio
opencv-python
tqdm
llama-cpp-python
